.control-button {
    
    display: none;

    width: 60px;
    height: 60px;
    
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 20px;

    background-color: var(--toolbarBackground);
    border-color: var(--accent);
    border-width: 2px;
    border-radius: 20%;
    border-style: dashed;
    
    cursor: pointer;

    box-shadow: 10px 10px black;

    transition: box-shadow 200ms ease, border-color 200ms ease;
}

.control-button:hover {
    box-shadow: 5px 5px black;
    border-color: var(--accentHighlight);
}

#delete-button {
    bottom: 0px;
    right: 100px;
}

#overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: blue;
    filter: opacity(5%);
    z-index: -1;
    display: none;
}

#help-button {
    display: block;
    top: 0px;
    right: 0px;

}